<manifest package="com.github.sonerik.bugtracktor"
          xmlns:android="http://schemas.android.com/apk/res/android"
    >

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:name=".App"
        >

        <activity
            android:name=".screens.main.MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme"
            >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".screens.login.LoginActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme"
            android:launchMode="singleTask"
            />

        <activity
            android:name=".screens.create_project.CreateProjectActivity"
            android:label="New Project"
            android:theme="@style/Theme.AppCompat.Light.Dialog"
            />

        <activity
            android:name=".screens.project_members.SelectProjectMemberActivity"
            android:label="Select Member"
            android:theme="@style/Theme.AppCompat.Light.Dialog"
            />

        <activity
            android:name=".screens.add_member.AddMemberActivity"
            android:label="Add Member"
            android:theme="@style/AppDialog.NoTitle"
            />

        <activity
            android:name=".screens.projects.ProjectActivity"
            android:theme="@style/AppTheme.NoActionBar"
            />

        <activity
            android:name=".screens.issue.IssueActivity"
            android:theme="@style/AppTheme.NoActionBar"
            android:configChanges="orientation|keyboardHidden|screenSize"
            />

        <activity
            android:name=".screens.project_issues.ProjectIssuesActivity"
            android:theme="@style/AppTheme.NoActionBar"
            />

        <activity
            android:name=".screens.project_members.ProjectMembersActivity"
            android:theme="@style/AppTheme.NoActionBar"
            />

    </application>

</manifest>
